# Effectiveness on Python code from popular open-source projects

Load Evaluation Data

In [9]:
import pandas as pd

df = pd.read_csv('../../metrics.csv')
df

,file,predictor,covered_iids,total_uses,guided_uses
0,./function_bodies_dataset/black/body_87.py,CodeT5ValuePredictor,5,5,2
1,./function_bodies_dataset/black/body_136.py,CodeT5ValuePredictor,3,3,2
2,./function_bodies_dataset/black/body_254.py,CodeT5ValuePredictor,6,6,4
3,./function_bodies_dataset/black/body_67.py,CodeT5ValuePredictor,8,8,3
4,./function_bodies_dataset/black/body_17.py,CodeT5ValuePredictor,2,2,1
...,...,...,...,...,...
1985,./function_bodies_dataset/tensorflow/body_2029...,AsIs,1,1,0
1986,./function_bodies_dataset/tensorflow/body_3249...,AsIs,1,1,0
1987,./function_bodies_dataset/tensorflow/body_4316...,AsIs,1,1,0
1988,./function_bodies_dataset/tensorflow/body_4890...,AsIs,1,1,0
1989,./function_bodies_dataset/tensorflow/body_4468...,AsIs,3,3,0

Overall Comparisson

In [10]:
df_grouped = df.groupby(by="predictor")[["covered_iids","total_uses","guided_uses"]].sum()
df_grouped

                      covered_iids  total_uses  guided_uses
predictor
AsIs                          1367        1367            0
CodeT5ValuePredictor         10141       10432         5742

Per-project Comparisson

In [5]:
df[["root", "folder", "project", "file"]] = df["file"].str.split("/", expand = True)
df

,file,predictor,covered_iids,total_uses,guided_uses,root,folder,project
0,body_87.py,CodeT5ValuePredictor,5,5,2,.,function_bodies_dataset,black
1,body_136.py,CodeT5ValuePredictor,3,3,2,.,function_bodies_dataset,black
2,body_254.py,CodeT5ValuePredictor,6,6,4,.,function_bodies_dataset,black
3,body_67.py,CodeT5ValuePredictor,8,8,3,.,function_bodies_dataset,black
4,body_17.py,CodeT5ValuePredictor,2,2,1,.,function_bodies_dataset,black
...,...,...,...,...,...,...,...,...
1985,body_20297.py,AsIs,1,1,0,.,function_bodies_dataset,tensorflow
1986,body_32493.py,AsIs,1,1,0,.,function_bodies_dataset,tensorflow
1987,body_43162.py,AsIs,1,1,0,.,function_bodies_dataset,tensorflow
1988,body_48907.py,AsIs,1,1,0,.,function_bodies_dataset,tensorflow
1989,body_44683.py,AsIs,3,3,0,.,function_bodies_dataset,tensorflow

In [8]:
df_grouped = df.groupby(["predictor","project"])[["covered_iids","total_uses","guided_uses"]].sum()
df_grouped

                                 covered_iids  total_uses  guided_uses
predictor            project
AsIs                 black                273         273            0
                     flask                319         319            0
                     pandas               245         245            0
                     scrapy               262         262            0
                     tensorflow           268         268            0
CodeT5ValuePredictor black               1746        1755         1062
                     flask               1781        1862          973
                     pandas              2538        2558         1289
                     scrapy              1852        1931         1090
                     tensorflow          2224        2326         1328